.*
~*

node_modules/*
/build
/vendor
/_site

ehthumbs.db
Thumbs.db

*.sublime-project
*.sublime-workspace
*.log
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.der
*.key
*.pem

!.editorconfig
!.env.example
!.gitignore
!.nvmrc
!.phpcs.xml.dist
!node_modules/boxicons/